/* Global Variables */

:root {
	--body-bg: 7 15 43;
	--btn-bg: 36 36 49;
	--glow-color: 68 119 206;
}

/* Common Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.bg {
	background-color: rgb(var(--body-bg));
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.full {
	width: 100%;
	height: 100%;
}

/* Specific Styles */

.container {
	min-height: 100dvh;
	padding: 5rem 1rem;
	background-color: rgb(var(--body-bg));
}

.display__wrapper {
	position: relative;
	width: 100%;
	max-width: 40rem;
	perspective: 500px;
	aspect-ratio: 5 / 3;
}

.back__wall {
	position: absolute;
	width: 100%;
	height: 90%;
	top: 0;
	left: 50%;
	transform: translateX(-50%) translateZ(-150px);
	transform-style: preserve-3d;
	transform-origin: top;
	padding: 1px;
	background: linear-gradient(
		to bottom,
		transparent,
		rgb(var(--glow-color) / 80%)
	);
}

.floor {
	position: absolute;
	width: 100%;
	height: 40%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) rotateX(75deg);
	transform-style: preserve-3d;
	transform-origin: bottom;
	padding: 1px;
	background: linear-gradient(
		to top,
		transparent,
		rgb(var(--glow-color) / 80%)
	);
}

.floating__btn {
	position: absolute;
	z-index: 10;
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	padding: 1.5rem;
	background-color: rgb(var(--btn-bg));
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-style: preserve-3d;
	filter: brightness(1.5);
	-webkit-box-reflect: below 40px
		linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.floating__btn .shadow {
	padding: 2px;
	position: absolute;
	z-index: 10;
	border-radius: 50%;
	box-shadow: inset 2px -1px 2px 0px rgba(0, 0, 0, 0.3),
		inset -2px 1px 2px 0px rgba(255, 255, 255, 0.2);
}

.shadow__overlay {
	border-radius: 50%;
	transform: rotate(340deg);
	background: radial-gradient(
		circle at 100%,
		rgb(255 255 255 / 5%),
		transparent
	);
}

.inner__btn {
	position: relative;
	border-radius: 50%;
	background-image: conic-gradient(
		transparent 0deg,
		transparent 30deg,
		orange 30deg,
		orange 330deg,
		transparent 330deg
	);
	padding: 3px;
}

.inner__overlay {
	border-radius: 50%;
	background-color: rgb(var(--btn-bg));
}

.stick {
	position: absolute;
	height: 80%;
	left: 50%;
	transform: translateX(-50%);
	border-left: 3px solid orange;
	top: -10%;
}
